@model ivivu.Models.KhachHang

@{
    ViewBag.Title = "test_db";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test_db</h2>

<p>@Model.hoTen</p>
<p>@Model.tenDangNhap</p>
<p>@Model.soDienThoai</p>
<p>@Model.soCMND</p>
<p>@Model.email</p>
