@model ivivu.Models.KhachHang 

<h2>Dang Ky Thong Tin</h2>

@using (Html.BeginForm("dang_ky", "KhachHang", FormMethod.Post)){
    <div>
        @Html.LabelFor(model => model.hoTen, "Ho va Ten: ")
        @Html.TextBoxFor(model => model.hoTen)
    </div>
    <div>
        @Html.LabelFor(model => model.tenDangNhap, "Ten dang nhap: ")
        @Html.TextBoxFor(model => model.tenDangNhap)
    </div>
    <div>
        @Html.LabelFor(model => model.matKhau, "Mat Khau: ")
        @Html.PasswordFor(model => model.matKhau)
    </div>
    <div>
        @Html.LabelFor(model => model.soCMND, "So Chung Minh Nhan Dan: ")
        @Html.TextBoxFor(model => model.soCMND)
    </div>
    <div>
        @Html.LabelFor(model => model.soDienThoai, "So Dien Thoai: ")
        @Html.TextBoxFor(model => model.soDienThoai)
    </div>
    <div>
        @Html.LabelFor(model => model.diaChi, "Dia Chi: ")
        @Html.TextBoxFor(model => model.diaChi)
    </div>
    <div>
        @Html.LabelFor(model => model.email, "Email: ")
        @Html.TextBoxFor(model => model.email)
    </div>
    <div>
        @Html.LabelFor(model => model.moTa, "Mo ta: ")
        @Html.TextAreaFor(model => model.moTa)
    </div>
    <input type="submit" value="Dang Ky"/>   
}